.editorSpan {
  border-style: solid;
  border-color: transparent;
  border-width: 6px;
  border-radius: 3px;
  display: inline;


}

.editorSpan p {
  display: inline;
}
.editorHover:hover {
  border-style: solid;
  border-color: rgba(77, 96, 228, 0.65);

}