.editorSpan {
  outline-style: solid;
  outline-color: transparent;
  outline-width: 4px;
  display: inline;


}

.editorSpan p {
  display: inline;
}
.editorHover:hover {
  outline-style: solid;
  outline-color: rgba(77, 96, 228, 0.75);

}